@charset "UTF-8";

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    text-align: center;
}

header nav {
    display: none;
}

main h2 {
    text-align: center;
}

main > p {
    line-height: 1.5em;
    font-size: 1.1em;
    text-indent: 30px;
    text-align: justify;
}