@charset "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.219);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    display: flex;
    margin: -8px;
    align-items: center;
}

h1 {
    color: white;
    margin: 5px;
    text-shadow: rgba(0, 0, 0, 0.616) 1px 1px;
}

nav {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    margin-right: 5px;
}

.opcoes {
    background-color: black;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

aside {
    background-color: white;
    border-radius: 7px;
    padding: 0px 5px 1px 5px;
    box-shadow: rgba(0, 0, 0, 0.315) 2px 2px;
}

@media screen and (max-width: 617px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 97vw;
        margin: auto;
    }

    .opcoes {
        background-color: black;
        color: white;
        flex: 1 1 auto;
        text-align: center;
        padding: 10px 1px;
        margin-bottom: -2px;
    }

    #diferente {
    margin-bottom: 10px;
}
}

@media screen and (min-width: 617px) {
    header {
        display: inline-block;
        width: 100vw;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
    }

    .opcoes {
       padding: 10px 25px;
       margin: 1px 10px 9px 9px;
       text-align: center;
    }
}

@media screen and (min-width: 1024px){
    body {
        background-color: rgba(0, 0, 0, 0.219);
    }
    
    header {
        background-color: gray;
        display: flex;
        align-items: center;
    }

    h1 {
        color: white;
        text-shadow: rgba(0, 0, 0, 0.616) 1px 1px;
        white-space: nowrap;
    }

    nav {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        margin-right: 5px;
    }

    .opcoes {
        background-color: black;
        color: white;
        padding: 10px;
        margin-right: 5px;
        margin-top: 7px;
        border-radius: 5px;
    }

    p:hover {
        background-color: white;
        color: black;
    }

    aside {
        background-color: white;
        border-radius: 7px;
        padding: 0px 5px 1px 5px;
        box-shadow: rgba(0, 0, 0, 0.315) 2px 2px;
    }
}