@charset "UTF-8";

body {
    background-color: #b6f5b6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: rgb(30, 85, 19);
}

h1 {
    color: rgb(30, 85, 19);
}

h2 {
    color: rgb(3, 61, 7);
}

.basico {
    color: rgb(31, 185, 41);
}

.intermediario {
    color: rgb(182, 185, 31);
}

.avancado {
    color: rgb(185, 31, 31);
}