@charset "UTF-8";

body {
    display: grid;
    grid-template-rows: 150px 100px 250px 100px;
    grid-template-columns: repeat(3, 1fr);

    margin: 0;
    gap: 10px;
}

header {
    grid-area: 1 / 1 / 3 /4;

    display: grid;
    gap: 10px;
}

.topo {
    background-color: lightblue;
    grid-area: 1 / 1 / 2 /4;

    margin: 0;
}

.menu {
    background-color: lightyellow;
    grid-area: 2 / 1 / 3 /4;
}

main {
    display: grid;
    grid-area: 3 / 1 / 4 /4;
}

.principal {
    background-color: lightgray;
    grid-area: 1 / 1 / 4 /3;
}

.secundario {
    background-color: lightgreen;
    grid-area: 1 / 3 / 4 /4;
}

.rodape {
    background-color: lightpink;
    grid-area: 4 / 1 / 5 /4;
}